body {
  background-color: #EEF9FC;
  min-width: 350px;
}

a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

a:link    { color: #023E8A;  }
a:visited { color: #001219;   }
a:hover   { color: #90E0EF; }
a:active  { color: #005F73;  }

header {
  background-color: #003049;
  padding: 0px 10%;
  height: 290px;
}

header h1 {
  color: #fff;
  padding: 60px 0 20px 0px;
  margin: 0;
  font-size: 80px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header h2 {
  color: white;
  padding: 60px 0 20px 0px;
  margin: 0;
  font-size: 38px;
  text-align: right;
}

main {
  padding: 20px 10%;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-style: normal;
}

nav {
  text-align: right;
}

p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}

li {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
}

footer {
  background-color: #D62828;
  margin: 140px 0 0 0;
  padding: 10px 10%;
}

em {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: bold;
}

main em {
  display: block;
  text-align: right;
  font-size: 30px;
}

footer p {
  color: #fff;
}
